* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fefaf4;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #c0392b;
  color: white;
  padding: 35px 30px;
}

.header-container {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  float: left;
  line-height: 18px;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 30px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
}

.hero {
  background-color: #fff;
  padding: 60px 30px;
  clear: both;
}

.hero-container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.hero-text {
  width: 45%;
  float: left;
}

.hero-text h1 {
  font-size: 38px;
  margin-bottom: 15px;
}

.hero-img {
  width: 45%;
  float: right;
}

.hero-img img {
  width: 100%;
}

.menu {
  padding: 50px 30px;
  background-color: white;
  clear: both;
}

.menu-container {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #c0392b;
}

.menu-items {
  text-align: center;
}

.menu-card {
  width: 300px;
  background-color: #fff9f5;
  border: 1px solid #eee;
  display: inline-block;
  margin: 15px;
  vertical-align: top;
}

.menu-card img {
  width: 100%;
  height: 180px;
}

.menu-info {
  padding: 15px;
  text-align: center;
}

.price {
  color: #c0392b;
  font-size: 22px;
  font-weight: bold;
  margin: 8px 0;
}

footer {
  background-color: #2c2c2c;
  color: white;
  text-align: center;
  padding: 30px;
  margin-top: auto;
  clear: both;
}

    